![image not found](https://www.microcapobserver.com/root_upld/general-news/2021/04/73824/org_99079202104091720.jpg)

In [2]:
#ignore the warnings
import warnings
warnings.filterwarnings('ignore')

### Data Preparation and Cleaning

In [7]:
import os
os.chdir('C:\\Users\\maina\\Downloads\\ipl')
os.getcwd()

'C:\\Users\\maina\\Downloads\\ipl'

In [9]:
#import libraies 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
#loading the dataset
df = pd.read_csv('IPL_Matches.csv')
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [11]:
df.shape

(816, 17)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [14]:
df.date

0      2008-04-18
1      2008-04-19
2      2008-04-19
3      2008-04-20
4      2008-04-20
          ...
811    2020-09-28
812    2020-11-05
813    2020-11-06
814    2020-11-08
815    2020-11-10
Name: date, Length: 816, dtype: object

In [16]:
df['date'] = pd.to_datetime(df.date)
df['year'] = pd.DatetimeIndex(df.date).year

In [18]:
df['month'] = pd.DatetimeIndex(df.date).month
df['day'] = pd.DatetimeIndex(df.date).day
df['weekday'] = pd.DatetimeIndex(df.date).weekday

In [19]:
df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,...,result,result_margin,eliminator,method,umpire1,umpire2,year,month,day,weekday
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,2008,4,18,4
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,...,runs,33.0,N,NaN,MR Benson,SL Shastri,2008,4,19,5
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,...,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,2008,4,19,5
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,...,wickets,5.0,N,NaN,SJ Davis,DJ Harper,2008,4,20,6
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,...,wickets,5.0,N,NaN,BF Bowden,K Hariharan,2008,4,20,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,...,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel,2020,9,28,0
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,...,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon,2020,11,5,3
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,...,wickets,6.0,N,NaN,PR Reiffel,S Ravi,2020,11,6,4
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,...,runs,17.0,N,NaN,PR Reiffel,S Ravi,2020,11,8,6
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,2020,11,10,1

In [23]:
df.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
year                 0
month                0
day                  0
weekday              0
dtype: int64

In [33]:
df['city'].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Kochi', 'Indore', 'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi',
       'Abu Dhabi', nan, 'Rajkot', 'Kanpur', 'Bengaluru', 'Dubai',
       'Sharjah'], dtype=object)

In [31]:
df.loc[df['city'].isnull()]

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,...,result,result_margin,eliminator,method,umpire1,umpire2,year,month,day,weekday
399,729281,NaN,2014-04-17,YS Chahal,Sharjah Cricket Stadium,1,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,...,wickets,8.0,N,NaN,Aleem Dar,S Ravi,2014,4,17,3
402,729287,NaN,2014-04-19,PA Patel,Dubai International Cricket Stadium,1,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,field,...,wickets,7.0,N,NaN,Aleem Dar,AK Chaudhary,2014,4,19,5
403,729289,NaN,2014-04-19,JP Duminy,Dubai International Cricket Stadium,1,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,...,wickets,4.0,N,NaN,Aleem Dar,VA Kulkarni,2014,4,19,5
404,729291,NaN,2014-04-20,GJ Maxwell,Sharjah Cricket Stadium,1,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,...,wickets,7.0,N,NaN,BF Bowden,M Erasmus,2014,4,20,6
406,729295,NaN,2014-04-22,GJ Maxwell,Sharjah Cricket Stadium,1,Kings XI Punjab,Sunrisers Hyderabad,Sunrisers Hyderabad,field,...,runs,72.0,N,NaN,M Erasmus,S Ravi,2014,4,22,1
407,729297,NaN,2014-04-23,RA Jadeja,Dubai International Cricket Stadium,1,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,field,...,runs,7.0,N,NaN,HDPK Dharmasena,RK Illingworth,2014,4,23,2
408,729299,NaN,2014-04-24,CA Lynn,Sharjah Cricket Stadium,1,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,runs,2.0,N,NaN,Aleem Dar,VA Kulkarni,2014,4,24,3
409,729301,NaN,2014-04-25,AJ Finch,Dubai International Cricket Stadium,1,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,...,runs,4.0,N,NaN,M Erasmus,S Ravi,2014,4,25,4
410,729303,NaN,2014-04-25,MM Sharma,Dubai International Cricket Stadium,1,Chennai Super Kings,Mumbai Indians,Mumbai Indians,bat,...,wickets,7.0,N,NaN,BF Bowden,M Erasmus,2014,4,25,4
413,729309,NaN,2014-04-27,M Vijay,Sharjah Cricket Stadium,1,Delhi Daredevils,Mumbai Indians,Mumbai Indians,bat,...,wickets,6.0,N,NaN,Aleem Dar,VA Kulkarni,2014,4,27,6
414,729311,NaN,2014-04-27,DR Smith,Sharjah Cricket Stadium,1,Sunrisers Hyderabad,Chennai Super Kings,Sunrisers Hyderabad,bat,...,wickets,5.0,N,NaN,AK Chaudhary,VA Kulkarni,2014,4,27,6
415,729313,NaN,2014-04-28,Sandeep Sharma,Dubai International Cricket Stadium,1,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,field,...,wickets,5.0,N,NaN,BF Bowden,S Ravi,2014,4,28,0
417,729317,NaN,2014-04-30,B Kumar,Dubai International Cricket Stadium,1,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,field,...,runs,15.0,N,NaN,HDPK Dharmasena,M Erasmus,2014,4,30,2

In [35]:
# df.loc[df['venue'] == 'Dubai International Cricket Stadium','city']

In [38]:
#since there are missing value from Dubai and middle east venues, so we try to replace those city as their city names
df['city'].fillna('Dubai', inplace = True)

In [39]:
df['city'].isna().sum()

0

In [41]:
df[df['player_of_match'].isnull()]

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,...,result,result_margin,eliminator,method,umpire1,umpire2,year,month,day,weekday
241,501265,Delhi,2011-05-21,NaN,Feroz Shah Kotla,0,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,...,NaN,NaN,NaN,NaN,SS Hazare,RJ Tucker,2011,5,21,5
486,829763,Bangalore,2015-04-29,NaN,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,...,NaN,NaN,NaN,NaN,JD Cloete,PG Pathak,2015,4,29,2
511,829813,Bangalore,2015-05-17,NaN,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,field,...,NaN,NaN,NaN,NaN,HDPK Dharmasena,K Srinivasan,2015,5,17,6
744,1178424,Bengaluru,2019-04-30,NaN,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,...,NaN,NaN,NaN,NaN,UV Gandhe,NJ Llong,2019,4,30,1

In [42]:
df.drop([241,486,511,744], inplace=True)

In [54]:
#df.info()
df.isnull().sum()

id                 0
city               0
date               0
player_of_match    0
venue              0
neutral_venue      0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner             0
result             0
result_margin      0
eliminator         0
method             0
umpire1            0
umpire2            0
year               0
month              0
day                0
weekday            0
dtype: int64

In [49]:
df[df.result_margin.isnull()]

Empty DataFrame
Columns: [id, city, date, player_of_match, venue, neutral_venue, team1, team2, toss_winner, toss_decision, winner, result, result_margin, eliminator, method, umpire1, umpire2, year, month, day, weekday]
Index: []

[0 rows x 21 columns]

In [48]:
df['result_margin'].fillna(0, inplace = True)

In [52]:
df.method.unique()

array([nan, 'D/L'], dtype=object)

In [53]:
df['method'].fillna('regular', inplace = True)

#### Now we will try to load the `ball by ball` dataset

In [57]:
df1 = pd.read_csv('IPL-Ball-by-Ball.csv')
df1

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [58]:
df1.shape

(193468, 18)

In [59]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
dtypes: int64(9), object(9)
memory usage: 26.6+ MB

In [60]:
df1.isnull().sum()

id                       0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
dtype: int64

In [66]:
df1['bowling_team'].unique()

array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Chennai Super Kings', 'Kings XI Punjab', 'Delhi Daredevils',
       'Rajasthan Royals', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', nan,
       'Sunrisers Hyderabad', 'Rising Pune Supergiants', 'Gujarat Lions',
       'Delhi Capitals'], dtype=object)

In [65]:
#repalcing the obsereved discrepency repeated value
df1.replace({'Rising Pune Supergiant':'Rising Pune Supergiants'}, inplace = True)

In [68]:
#let's see how many of total balls are taken wickets
df1['is_wicket'].unique()

array([0, 1], dtype=int64)

In [70]:
len(df1[df1['is_wicket'] == 1])

9495

In [71]:
#no extra run scored for the ball played
len(df1[df1['extra_runs'] == 0])

183235

In [75]:
df1['dismissal_kind'].fillna('NA', inplace = True)
df1['player_dismissed'].fillna('NA', inplace = True)
df1['fielder'].fillna('NA', inplace = True)
df1['extras_type'].fillna('NA', inplace = True)

In [77]:
df1.isnull().sum()

id                    0
inning                0
over                  0
ball                  0
batsman               0
non_striker           0
bowler                0
batsman_runs          0
extra_runs            0
total_runs            0
non_boundary          0
is_wicket             0
dismissal_kind        0
player_dismissed      0
fielder               0
extras_type           0
batting_team          0
bowling_team        191
dtype: int64

In [79]:
df1[df1['bowling_team'].isnull()]

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
57048,501265,1,0,1,NV Ojha,DA Warner,AC Thomas,1,0,1,0,0,NA,NA,NA,NA,Delhi Daredevils,NaN
57049,501265,1,0,2,DA Warner,NV Ojha,AC Thomas,0,1,1,0,0,NA,NA,NA,legbyes,Delhi Daredevils,NaN
57050,501265,1,1,1,DA Warner,NV Ojha,JP Faulkner,0,1,1,0,0,NA,NA,NA,legbyes,Delhi Daredevils,NaN
57051,501265,1,1,2,NV Ojha,DA Warner,JP Faulkner,0,0,0,0,0,NA,NA,NA,NA,Delhi Daredevils,NaN
57052,501265,1,1,3,NV Ojha,DA Warner,JP Faulkner,0,0,0,0,0,NA,NA,NA,NA,Delhi Daredevils,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115654,829763,1,7,3,AB de Villiers,Mandeep Singh,STR Binny,0,0,0,0,0,NA,NA,NA,NA,Royal Challengers Bangalore,NaN
115655,829763,1,8,6,AB de Villiers,Mandeep Singh,SR Watson,2,0,2,0,0,NA,NA,NA,NA,Royal Challengers Bangalore,NaN
115656,829763,1,9,1,Mandeep Singh,AB de Villiers,STR Binny,4,0,4,0,0,NA,NA,NA,NA,Royal Challengers Bangalore,NaN
115657,829763,1,8,4,AB de Villiers,Mandeep Singh,SR Watson,0,0,0,0,0,NA,NA,NA,NA,Royal Challengers Bangalore,NaN
115658,829763,1,8,5,AB de Villiers,Mandeep Singh,SR Watson,0,0,0,0,0,NA,NA,NA,NA,Royal Challengers Bangalore,NaN

In [80]:
#merge our data sets
df2 = df.merge(df1, on='id')

In [81]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193096 entries, 0 to 193095
Data columns (total 38 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193096 non-null  int64
 1   city              193096 non-null  object
 2   date              193096 non-null  datetime64[ns]
 3   player_of_match   193096 non-null  object
 4   venue             193096 non-null  object
 5   neutral_venue     193096 non-null  int64
 6   team1             193096 non-null  object
 7   team2             193096 non-null  object
 8   toss_winner       193096 non-null  object
 9   toss_decision     193096 non-null  object
 10  winner            193096 non-null  object
 11  result            193096 non-null  object
 12  result_margin     193096 non-null  float64
 13  eliminator        193096 non-null  object
 14  method            193096 non-null  object
 15  umpire1           193096 non-null  object
 16  umpire2           193096 non-null  object
 17  year              193096 non-null  int64
 18  month             193096 non-null  int64
 19  day               193096 non-null  int64
 20  weekday           193096 non-null  int64
 21  inning            193096 non-null  int64
 22  over              193096 non-null  int64
 23  ball              193096 non-null  int64
 24  batsman           193096 non-null  object
 25  non_striker       193096 non-null  object
 26  bowler            193096 non-null  object
 27  batsman_runs      193096 non-null  int64
 28  extra_runs        193096 non-null  int64
 29  total_runs        193096 non-null  int64
 30  non_boundary      193096 non-null  int64
 31  is_wicket         193096 non-null  int64
 32  dismissal_kind    193096 non-null  object
 33  player_dismissed  193096 non-null  object
 34  fielder           193096 non-null  object
 35  extras_type       193096 non-null  object
 36  batting_team      193096 non-null  object
 37  bowling_team      193096 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(14), object(22)
memory usage: 57.5+ MB

In [83]:
pd.set_option('display.max_columns', 500)

In [85]:
df2.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,year,month,day,weekday,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,regular,Asad Rauf,RE Koertzen,2008,4,18,4,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,regular,Asad Rauf,RE Koertzen,2008,4,18,4,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,regular,Asad Rauf,RE Koertzen,2008,4,18,4,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,regular,Asad Rauf,RE Koertzen,2008,4,18,4,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,regular,Asad Rauf,RE Koertzen,2008,4,18,4,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore

In [87]:
df2.shape

(193096, 38)

In [88]:
len(df1) - len(df2)

372

In [89]:
len(df2['id'].unique()) == len(df1['id'].unique())

False

In [91]:
#say because of some ids are not presented in both dataset as when we merged those two dataset, resulted as a decresed of 372
# information. So we can easily say those 191 rows we may encounter in our ball by ball dataset maybe faulty and after merging
# this two dataset we had a clear final data

In [90]:
df2.isnull().sum()

id                  0
city                0
date                0
player_of_match     0
venue               0
neutral_venue       0
team1               0
team2               0
toss_winner         0
toss_decision       0
winner              0
result              0
result_margin       0
eliminator          0
method              0
umpire1             0
umpire2             0
year                0
month               0
day                 0
weekday             0
inning              0
over                0
ball                0
batsman             0
non_striker         0
bowler              0
batsman_runs        0
extra_runs          0
total_runs          0
non_boundary        0
is_wicket           0
dismissal_kind      0
player_dismissed    0
fielder             0
extras_type         0
batting_team        0
bowling_team        0
dtype: int64